<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>内容管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="/lib/zTree_v3/css/metroStyle/metroStyle.css"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script type="text/javascript" src="./js/cookie.js"></script>
    <script type="text/javascript" src="/lib/zTree_v3/js/jquery.ztree.core.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .layui-table-view .layui-table[lay-size=lg] .layui-table-cell {
            height: auto;
            line-height: auto;
        }
    </style>
</head>

<body class="">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">网站管理</a>
        <a>
          <cite>内容管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="iconfont" style="line-height:30px">&#xe6aa;</i></a>
</div>
<div style="float:left;width:20%;">
    <ul id="classTree" class="ztree"></ul>
</div>
<div class="x-body" style="float:left;width:76%;">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
            <input type="text" name="tbxTitle" id="tbxTitle" placeholder="请输入标题" autocomplete="off" class="layui-input"
                   style="width:300px;">
            <button class="layui-btn" id="btnSearch"><i
                    class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <table class="layui-table" lay-filter="test" id="myGrid">
    </table>

</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn" lay-event="recommend">设为推荐(产品信息推荐后将会在首页展示)</button>
        <button class="layui-btn" lay-event="addInfo"><i class="layui-icon"></i>发布信息
        </button>
        <button class="layui-btn" lay-event="editInfo"><i class="iconfont">&#xe69e;</i>编辑信息
        </button>
        <button class="layui-btn layui-btn-danger" lay-event="getCheckData"><i class="layui-icon"></i>删除</button>
    </div>
</script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });
</script>
<script>
    var tableIns;

    layui.use('table', function () {
        var table = layui.table;
        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    if (data.length > 0) {
                        var ids = "";
                        for (i = 0; i < data.length; i++) {
                            ids += data[i].id + ",";
                        }
                        if (ids.length > 0) {
                            ids = ids.substr(0, ids.length - 1);
                        }
                        layer.confirm('确定要删除这些数据吗？', {icon: 9, btn: ['确定', '取消']},
                            function (index, layero) {
                                $.post("/admin/api/news/deleteByIds", {"ids": ids}, function (result) {
                                    if (result.code == 0) {
                                        layer.alert("删除成功");
                                        reloadGrid();
                                    }
                                });
                            },
                            function (index) {

                            }
                        );
                    } else {
                        layer.alert("请选择需要删除的数据！")
                    }
                    break;
                case 'editInfo':
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.alert("请选择需要编辑的信息", {icon: 7});
                        return false;
                    }
                    if (data.length > 1) {
                        layer.alert("每次只能编辑一条信息", {icon: 7});
                        return false;
                    }
                    x_admin_show('编辑信息', './contentAdd.html?id=' + data[0].id, 600, 500, true);
                    break;
                case 'addInfo':
                    var nodes = zTreeObj.getSelectedNodes();
                    var selectNode = null;
                    if (nodes.length > 0) {
                        selectNode = nodes[0].id;
                    }
                    x_admin_show('发布信息', './contentAdd.html?classId=' + selectNode, 600, 500, true);
                    break;
                case 'recommend':
                    var data = checkStatus.data;
                    if (data.length > 0) {
                        var ids = "";
                        for (i = 0; i < data.length; i++) {
                            ids += data[i].id + ",";
                        }
                        if (ids.length > 0) {
                            ids = ids.substr(0, ids.length - 1);
                        }
                        layer.confirm('确定要设为推荐信息吗？', {icon: 9, btn: ['确定', '取消']},
                            function (index, layero) {
                                $.post("/admin/api/news/recommend", {"ids": ids}, function (result) {
                                    if (result.code == 0) {
                                        layer.alert("推荐成功");
                                        reloadGrid();
                                    }
                                });
                            },
                            function (index) {

                            }
                        );
                    } else {
                        layer.alert("请选择需要推荐的数据！")
                    }
                    break;
            }
        });
    });
    layui.use('form', function () {
        var form = layui.form;
    });

    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        tableIns = table.render({
            elem: '#myGrid'
            , url: '/admin/api/news/selectNews' //数据接口
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            , page: true //开启分页
            , cols: [[ //表头
                {type: 'checkbox', title: 'id'},
                {field: 'id', title: 'ID'},
                {field: 'title', title: '标题'},
                {field: 'className', title: '分类'},
                {
                    field: 'imageUrl', title: '图片', templet: function (d) {
                        if (d.imageUrl != null && d.imageUrl != "") {
                            return "<img src='" + d.imageUrl + "' style='width:100px; height:100px;'/>";
                        }
                        return " ";
                    }
                },
                {field: 'comeFrom', title: '来源'},
                {
                    field: 'recommend', title: '推荐', templet: function (d) {
                        if (d.recommend == 0) {
                            return "否";
                        } else {
                            return "是";
                        }
                    }
                },
                {field: 'addDate', title: '新增时间'},
                {field: 'updateDate', title: '更新时间'}
            ]],
            toolbar: '#toolbarDemo',
            size: 'lg'
        });
    });
    var zTreeObj;
    var setting = {
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "parentId",
                rootPid: 0
            },
            key: {
                url: "x"
            }
        },
        callback: {
            onClick: reloadGrid
        }
    };
    var zNodes;
    $(function () {
        $.get("/admin/api/class/selectAll", function (result) {
            zNodes = result;
            zTreeObj = $.fn.zTree.init($("#classTree"), setting, zNodes);
            zTreeObj.expandAll(true);
        });
        $("#btnSearch").click(function () {
            reloadGrid();
        });
    });

    function reloadGrid() {
        var nodes = zTreeObj.getSelectedNodes();
        var selectNode = null;
        if (nodes.length > 0) {
            selectNode = nodes[0].id;
        }
        tableIns.reload({
            url: '/admin/api/news/selectNews',
            where: {
                start: $("#start").val(),
                end: $("#end").val(),
                classId: selectNode,
                title: $("#tbxTitle").val()
            },
            done: function (res, curr, count) {
            }
        });
    }
</script>
</body>
</html>