
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>星系团课堂（3-6岁）</title>
    <meta name="keywords" content="蔚蓝星少儿英语成长乐园,深圳少儿英语培训" />
    <meta property="qc:admins" content="2771704753463535131636" />
    <meta name="description" content="Bluestar 是专注于2-6岁孩子英文学习的生态系统。来自英国的先进教学理念，为不同年龄段孩子量身定制的沉浸式学习环境，让孩子轻松自如掌握英文听说读写的语言技能。同时丰富多样的课程元素，发掘和激发孩子的八大智能和21世纪5C技能和成长心态。" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- 调用样式表 -->
    <link rel="stylesheet" href="/web/template/default/skin/base.css" type="text/css" media="all"  />
    <link rel="stylesheet" href="/web/template/default/skin/reset.css" type="text/css" media="all"  />
    <link rel="stylesheet" href="/web/template/default/skin/style.css" type="text/css" media="all"  />
    <script type="text/javascript" src="/web/template/default/skin/js/jquery-1.3.2.min.js"></script>
    <script language="javascript" type="text/javascript">
        function killerrors()
        {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <!-- 滚动代码JS -->
    <script type="text/javascript" src="/web/template/default/skin/js/js/Index.js"> </script>
    <script type="text/javascript" src="/web/template/default/skin/js/js/ScrollPicLeft.js"></script>
    <script type="text/javascript" src="/web/template/default/skin/js/js/MSClass.js"></script>
    <!--<script type="text/javascript" src="/web/template/default/skin/js/js/JQuery.js"></script>-->
</head>
<body>


<div id="header">

    <div class="top">
        <div style="margin:0 auto; width:1300px;">
            <img src="/web/template/default/skin/images/top.jpg" />
        </div>
    </div>





    <div class="menu">
        <!-- 网站导航 -->
        <div class="nav">
            <ul id="nav">
                <li class="one" th:each="navItem:${navList}">
                    <a title="" th:href="${navItem.url}" th:text="${navItem.name}"></a>
                </li>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <!-- 导航结束 -->
    </div>


</div>

<div style="height: 161px;"></div>
<div class="banner1"></div><div id="main">
    <div class="lr">
        <div class="wuneiye">
            <ul>
                <li><a href="/course">蔚蓝星课堂（2-6岁）</a></li>
                <li class="wuneiye_hover"><a href="/course/3-6">星系团课堂（3-6岁）</a></li>
                <li><a href="/course/2-6">𝛀星云父母课堂（2-6岁）</a></li>
            </ul>
            <div style="clear:both"></div>
        </div>

        <div class="kecheng01">
            <div class="kecheng01_left"><img src="/web/template/default/skin/images/pic26.jpg" width="600px" /></div>
            <div class="kecheng01_right" style="padding-top: 110px;">
                <h2>星系团课堂（3-6岁）</h2>
                <p>蔚蓝星每天会根据学生情况，设置不同的室内集体活动，主题有全世界节日庆典 烘焙 阅读 游戏 亲子互动等等，给到孩子们丰富多彩的课程形式，激发孩子们好奇心和内驱力。在此同时，提升孩子们对世界不同文化的理解，激发孩子探知世界的潜能。对孩子的各大智能具有重大意义。</p>
            </div>
            <div style="clear:both"></div>
        </div>

        <div class="kecheng02">
            <div class="kecheng02_left" style="padding-top: 100px;">
                <h2>蓝巨星课堂（2-6岁）</h2>
                <p>蓝巨星课堂（2-6岁）户外实践 主要是弥补城市里孩子户外活动的欠缺和亲子互动结构内容单一化的弊端，带领孩子们走进自然亲近自然和了解自然，提升孩子们自然观察智能的能力。通过户外活动，有组织有目标有亲子互动，也是增强亲子关系很重要的形式。</p>
            </div>
            <div class="kecheng02_right"><img src="/web/template/default/skin/images/pic27.jpg" width="600px" /></div>
            <div style="clear:both"></div>
        </div>




    </div>
</div>
<div id="footer">


    <div class="message">
        <div class="message_copyright">
            <p><a href="http://www.blustarkids.com">蔚蓝星少儿英语成长乐园</a>  www.bluestarkids.com &copy; 版权所有 Copyright 2018-2019 All rights reserved   <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18118799号</a><br />
                电话：0755-2104 4580  地址：深圳市龙华区民治街道民泰社区玖龙玺一层<br />
                Bluestar 蔚蓝星少儿英文成长乐园   亿万颗星球里，只有一颗蔚蓝星！您的孩子就是我们的全世界！</p>                  </div>
    </div>


</div>


<div id="gzh">
    <img src="/web/template/default/skin/images/gzh.jpg" width="130px" /><br>
    微信扫一扫<br>关注该公众号
</div>
<!--返回头部开始-->
<div id="goTop" title="返回顶部" style="display: block; "></div>
<script type="text/javascript">
    $(function(){

        /* 窗体滚动事件 */
        $(window).scroll(function(){
            //判断滚动条的垂直位置是否大于0，说白了就是：判断滚动条是否在顶部
            if($(window).scrollTop()<=100) {
                //$("#goTop").stop(true,false).animate({bottom:"-156px"},500); //动画隐藏ID="doTop"的这个层
                $("#goTop").hide();
            }else{
                //$("#goTop").stop(true,false).animate({bottom:"30px"},500);  //动画显示ID="doTop"的这个层
                $("#goTop").show();
            }

        });
        /* 点击返回顶部箭头的事件 */
        $("#goTop").click(function(){
            $("body,html").animate({scrollTop:0},500); //返回顶部，用JQ的animate动画
        });
        $("#footer_gotop").click(function(){
            $("body,html").animate({scrollTop:0},500); //返回顶部，用JQ的animate动画
        });

    });
</script>

<!--返回头部结束-->


<script type="text/javascript" src="/web/template/default/skin/js/common.js"></script>

<script type="text/javascript">
    // 公告滚动js
    var t=setInterval(myfunc,1000);
    var oBox=document.getElementById("announ");
    function myfunc(){
        var o=oBox.firstChild
        oBox.removeChild(o)
        oBox.appendChild(o)
    }
    oBox.onmouseover=function()
    {
        clearInterval(t)
    }
    oBox.onmouseout=function()
    {
        t=setInterval(myfunc,2000)//滚动时间，默认2秒
    }
</script>

<!-- 在线客服 -->
<!-- 短信 -->





<script>
    function checkmail(str)
    {
        var strreg="email";
        var r;
        var strtext=document.all(str).value;
//strreg=/^w+((-w+)|(.w+))*@[a-za-z0-9]+((.|-)[a-za-z0-9]+)*.[a-za-z0-9]+$/i;
        strreg=/^w+((-w+)|(.w+))*@{1}w+.{1}w{2,4}(.{0,1}w{2}){0,1}/ig;
        r=strtext.search(strreg);
        if(r==-1) {
            alert("邮箱格式错误!");
            document.all(str).focus();
        }
    }
</script>
</body>
</html>