<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="web/layout">
<div layout:fragment="content">
    <div class="container">
        <div class="row productList">
            <div class="col-md-4 hidden-xs wow slideInLeft">
                <!--产品分类-->
                <div class="productClass">
                    <div class="productTitle">
                        <img src="/images/product_class.jpg"/>
                    </div>
                    <div class="proClassShow">
                        <div class="proClassNormal" th:each="item:${productList}">
                            <a th:href="'/productCenter/'+${item.id}" th:text="${item.name}"></a>
                        </div>
                    </div>
                </div>
                <!--联系我们-->
                <div class="kefuShow">
                    <div class="kefuImg">
                        <img src="/images/contactus_title.jpg"/>
                    </div>
                    <div class="contactUsBlock">
                        <img src="/images/kefu_53.jpg"/>
                        <div th:utext="${base.leftContactUs}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 wow slideInRight">
                <div class="row hidden-xs">
                    <div class="col-xs-12 productGoodTitle">
                        <img src="/images/product_title.jpg"/>
                    </div>
                </div>
                <div class="row productContent">
                    <div class="col-md-4 clearPadding" th:each="proItem:${productRecommendList}">
                        <div class="thumbnail">
                            <a th:href="'/productCenter/detail/'+${proItem.id}"><img th:src="${proItem.imageUrl}"
                                                                                     th:alt="${proItem.title}"
                                                                                     style="width:272px;height:250px;"/></a>
                            <div class="caption captionOverride">
                                <div><a th:href="'/productCenter/detail/'+${proItem.id}" th:text="${proItem.title}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid wow bounceInUp hidden-xs">
        <div class="row youshiImg">
        </div>
    </div>
    <div class="container-fluid youshiBackground rowPaddingBottom wow bounceInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow bounceInLeft">
                    <div class="row youshi1">
                        <div class="col-md-2">
                            <img src="/images/first.jpg"/>
                        </div>
                        <div class="col-md-10">
                            <h3>12年专注泡棉产品加工</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row rowMarginTop">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <p>
                                锐欣包装泡棉为您提供最可靠的自动化设备和优质的
                                专业服务为您提供一站式的设计、制造和安装调试服
                                您的需求,盈润机械设备全方位满足!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow bounceInRight hidden-xs">
                    <img src="/images/advantage_1.jpg"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 rowMarginTop wow bounceInLeft hidden-xs">
                    <img src="/images/advantage_2.jpg" style="margin-top:-150px;"/>
                </div>
                <div class="col-md-6">
                    <div class="row youshi1 wow bounceInRight">
                        <div class="col-md-2">
                            <img src="/images/second.jpg"/>
                        </div>
                        <div class="col-md-10">
                            <h3>专业设计团队为您量身定制</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row rowMarginTop wow bounceInRight">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <p>
                                严格的工匠精神标准要求，狠抓产品质量，全心打造智能
                                设备可靠品牌，为机械配件提供一站式产业智能化制造解
                                决方案。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow bounceInLeft">
                    <div class="row youshi1">
                        <div class="col-md-2">
                            <img src="/images/third.jpg"/>
                        </div>
                        <div class="col-md-10">
                            <h3>获得权威机构产品认证</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row rowMarginTop">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <p>
                                先进的加工设备加工工艺，为客户快速供货；公司
                                实行计划管理，注重过程控制，为客户制造国际
                                品质的产品；
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow bounceInRight hidden-xs">
                    <img src="/images/advantage_3.jpg"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 rowMarginTop wow bounceInLeft hidden-xs">
                    <img src="/images/advantage_4.jpg" style="margin-top:-50px;"/>
                </div>
                <div class="col-md-6">
                    <div class="row youshi1 wow bounceInRight">
                        <div class="col-md-2">
                            <img src="/images/four.jpg"/>
                        </div>
                        <div class="col-md-10">
                            <h3>24小时快速响应,打造满意售后服务</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row rowMarginTop wow bounceInRight">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <p>
                                我司拥有完善售前售后服务体系，72小时服务热线，
                                有专职的工程师及时为您解决技术上的问题。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--关于我们-->
    <div class="container-fluid aboutUsA wow bounceInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <div class="row">
                        <div style="float: left;width:534px;"><img src="/images/home_pro.jpg"/></div>
                        <div style="float: left;width:600px; padding-left:30px;">
                            <div class="aboutUsTitle">
                                关于我们
                            </div>
                            <div>
                                <img src="/images/aboutus_desc.jpg"/>
                            </div>
                            <div class="row aboutUsContent" th:utext="${aboutusContent.content}">

                            </div>
                            <div>
                                <a class="btn viewMore" href="/aboutUs">查看更多+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--关于我们-->
    <!--新闻资讯-->
    <div class="container-fluid newinfo wow bounceInUp hidden-xs">
        <div class="container textCenter rowMarginTop rowPaddingBottom">
            <img src="/images/news.jpg"/>
        </div>
        <div class="container rowMarginTop rowPaddingBottom">
            <div class="col-md-6">
                <div class="row">
                    <ul class="newsType">
                        <li id="li_newTop" class="active"><a>企业头条</a></li>
                        <li id="li_companyDynamicsList"><a>公司动态</a></li>
                    </ul>
                </div>

                <div id="newTop" class="row rowMarginTop rowPaddingBottom">
                    <div th:each="newsItem:${topNewsList}">
                        <div class="newsList" th:onclick="'showNewsDetail('+${newsItem.id}+')'">
                            <div class="newsDate">
                                <div class="newsDateDay" th:text="${#strings.substring(newsItem.addDate,8,10)}"></div>
                                <div class="newsDateYear" th:text="${#strings.substring(newsItem.addDate,0,7)}"></div>
                            </div>
                            <div class="newsC" th:text="${#strings.abbreviate(newsItem.title,28)}"></div>
                            <div class="newsCImg" th:id="'cimg_'+${newsItem.id}"><img
                                    src="/images/jiantouright_03.png"/></div>
                        </div>
                        <div class="row rowMarginTop rowPaddingBottom" id="newsDetail_"
                             th:id="'newsDetail_'+${newsItem.id}" style="display: none;">
                            <div class="col-md-6">
                                <img th:src="${newsItem.imageUrl}" class="newsImg"/>
                            </div>
                            <div class="col-md-6">
                                <div class="row newsTitle" th:text="${#strings.abbreviate(newsItem.title,20)}"></div>
                                <div class="row newsContent">
                                    <p th:text="${#strings.abbreviate(newsItem.description,60)}"></p>
                                </div>
                                <div class="row">
                                    <a class="btn btn-primary active" th:href="${'/news/'+newsItem.id}"
                                       target="_blank">了解更多+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="companyDynamicsList" style="display: none;" class="row rowMarginTop rowPaddingBottom">
                    <div th:each="newsItem:${companyDynamicsList}">
                        <div class="newsList" th:onclick="'showNewsDetail('+${newsItem.id}+')'">
                            <div class="newsDate">
                                <div class="newsDateDay" th:text="${#strings.substring(newsItem.addDate,8,10)}"></div>
                                <div class="newsDateYear" th:text="${#strings.substring(newsItem.addDate,0,7)}"></div>
                            </div>
                            <div class="newsC" th:text="${#strings.abbreviate(newsItem.title,28)}"></div>
                            <div class="newsCImg" th:id="'cimg_'+${newsItem.id}"><img
                                    src="/images/jiantouright_03.png"/></div>
                        </div>
                        <div class="row rowMarginTop rowPaddingBottom" id="newsDetail_"
                             th:id="'newsDetail_'+${newsItem.id}" style="display: none;">
                            <div class="col-md-6">
                                <img th:src="${newsItem.imageUrl}" class="newsImg"/>
                            </div>
                            <div class="col-md-6">
                                <div class="row newsTitle" th:text="${#strings.abbreviate(newsItem.title,20)}"></div>
                                <div class="row newsContent">
                                    <p th:text="${#strings.abbreviate(newsItem.description,60)}"></p>
                                </div>
                                <div class="row">
                                    <a class="btn btn-primary active" th:href="${'/news/'+newsItem.id}"
                                       target="_blank">了解更多+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dayiTitle">
                    <span class="dayiTitle-1">技术答疑 / </span><span class="dayiTitle-2">Technical response</span><span
                        class="dayiTitle-3"><a href="/question">更多>></a></span>
                </div>
                <div class="dayiList" th:each="item:${questionList}">
                    <div class="dayiCTitle"><img src="/images/dayi_160.jpg"> <a th:href="${'/news/'+item.id}"
                                                                                target="_blank"><span
                            th:text="${#strings.abbreviate(item.title,30)}"></span></a></div>
                    <div class="dayiContent" th:text="${#strings.abbreviate(item.description,100)}"></div>
                </div>
            </div>
        </div>
    </div>
    <!--新闻资讯-->


    <!--友情链接开始-->
    <div class="container-fluid linkBg hidden-xs">
        <div class="row">
            <div class="col-md-12 textCenter">
                <img src="/images/links.png"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 links textCenter">
                <a th:each="item:${base.linksList}" th:text="${item.title}" th:href="${item.url}"
                   class="link" target="_blank"></a>
            </div>
        </div>
    </div>
    <!--友情链接结束-->
    <script type="text/javascript">
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100
            }
        );
        wow.init();
    </script>
</div>
</html>