<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="web/layout">
<div layout:fragment="content">

    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <div class="index1">
                    <span>WeiBang goods shelves</span>
                    <p>玮邦货架</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;text-align:center;">
            <div class="col-xs-12">
                <iframe height=498 width=100% src='http://player.youku.com/embed/XNDI0NDA4MjE1Mg==' frameborder=0
                'allowfullscreen'></iframe>
                <!--图片滚动-->
                <!--<div class='silder-box silder-box-2'>-->
                <!--<div class='silder'>-->
                <!--<ul>-->
                <!--<li th:each="hImgItem:${factoryList}">-->
                <!--<a th:href="'/productCenter/detail/'+${hImgItem.id}"><img th:src="${hImgItem.imageUrl}"></a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div class='silder-button btl'></div>-->
                <!--<div class='silder-button btr'></div>-->
                <!--</div>-->
                <!--图片滚动-->
            </div>
        </div>
    </div>
    <div class="container-fluid blueBg">
        <div class="container">
            <div class="row productList">
                <div class="col-md-3 hidden-xs wow slideInLeft">
                    <!--产品分类-->
                    <div class="productClass">
                        <div class="productTitle">
                            <div><strong>货架直通车</strong>
                            </div>
                            <div>
                                <span><i>PRODUCT</i></span>
                            </div>
                        </div>
                        <div class="proClassShow">
                            <div class="proClassNormal" th:each="item:${productList}">
                                <a th:href="'/productCenter/'+${item.id}" th:text="${item.name}"></a>
                            </div>
                        </div>
                    </div>
                    <!--联系我们-->
                    <div class="kefuShow">
                        <div class="kefuImg">
                            <div class="productTitle">
                                <div><strong>联系我们</strong>
                                </div>
                                <div>
                                    <span><i>Contact us</i></span>
                                </div>
                            </div>
                        </div>
                        <div class="contactUsBlock">
                            <img src="/images/kefu_53.jpg" style="width:200px;"/>
                            <div th:utext="${base.leftContactUs}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 wow slideInRight">
                    <!--<div class="row hidden-xs">-->
                    <!--<div class="col-xs-12 productGoodTitle">-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="row productContent">
                        <div class="index visible-xs-block">
                            <span>Product center</span>
                            <p>产品展示</p>
                        </div>
                        <div class="col-md-4 clearPadding" th:each="proItem:${productRecommendList}">
                            <div class="thumbnail">
                                <a th:href="'/productCenter/detail/'+${proItem.id}"><img th:src="${proItem.imageUrl}"
                                                                                         th:alt="${proItem.title}"
                                                                                         style="width:272px;height:250px;"/></a>
                                <div class="caption captionOverride">
                                    <div><a th:href="'/productCenter/detail/'+${proItem.id}"
                                            th:text="${proItem.title}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--我们能为您解决什么-->
    <div class="container wow bounceInUp">
        <div class="row">
            <div class="col-md-12">
                <div class="index1">
                    <span>WHAT CAN WE DO？</span>
                    <p>我们能为您解决什么</p>
                </div>
            </div>
        </div>
        <div class="row so">
            <div class="col-md-3 wow bounceInLeft">
                <div class="row so1">

                </div>
                <div class="row"><p>仓储能力提高</p></div>
                <div class="row"><span>合理规划空间，提高空间利用率，提高仓储能力!</span></div>
            </div>
            <div class="col-md-3 wow bounceInDown">
                <div class="row so2 ">
                </div>
                <div class="row"><p>上门制定方案</p></div>
                <div class="row"><span>上门测量库容，按储放物品的规格质量提高最完美的解决方案</span></div>
            </div>
            <div class="col-md-3 wow bounceInDown">
                <div class="so3"></div>
                <div class="row"><p>人性化设计</p></div>
                <div class="row"><span>货架设计因地制宜，为您留出更多过道空间，方便清洁</span></div>
            </div>
            <div class="col-md-3 wow bounceInRight">
                <div class="so4"></div>
                <div class="row"><p>改善储物环境</p></div>
                <div class="row"><span>让物品摆放整齐，便于清点，改善储物环境</span></div>
            </div>
        </div>
    </div>
    <!--我们能为您解决什么-->
    <!--优势-->
    <div class="container-fluid wow bounceInUp">
        <div class="row">
            <div class="col-md-12">
                <div class="index1">
                    <span>FIVE SUPERIOPITY</span>
                    <p>选择我们的5大优势</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid youshiBackground rowPaddingBottom wow bounceInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow bounceInLeft">
                    <div class="row youshi1">
                        <div class="col-md-2">
                            <img src="/images/n1.png"/>
                        </div>
                        <div class="col-md-10">
                            <h3>十年行业经验，您的仓储空间拓宽专家</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <p>
                            <ul>
                                <li>
                                    上门测量库容，根据储放物品的规格和质量进行评估，提供最完美的解决方案
                                </li>
                                <li>合理规划空间，让货品摆放更整齐，改善储物环境，提高空间利用率，最大化提升仓储能力</li>
                                <li>货架设计因地制宜，为您留出更多过道空间，方便清洁和清点</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow bounceInRight hidden-xs">
                    <img src="/images/ys1.png"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 rowMarginTop wow bounceInLeft hidden-xs">
                    <img src="/images/ys2.png"/>
                </div>
                <div class="col-md-6">
                    <div class="row youshi1 wow bounceInRight">
                        <div class="col-md-2">
                            <img src="/images/n2.png"/>
                        </div>
                        <div class="col-md-10">
                            <h3>贴心售前服务，为您量身定制解决方案</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row wow bounceInRight">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <ul>
                                <li>免费专人上门：了解需求，量身定做，为您省时</li>

                                <li> 免费制作设计：物流仓储，图纸方案，为您省心</li>

                                <li>免费专业评估：成本风险，投资回报，为您省钱</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row youshi1 wow bounceInRight">
                        <div class="col-md-2">
                            <img src="/images/n3.png"/>
                        </div>
                        <div class="col-md-10">
                            <h3>优质的选材和制作工艺-品质保障</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row wow bounceInRight">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <ul>
                                <li>原材料选取自大型钢材基地，硬度强，高耐磨性，使用寿命长</li>

                                <li>钢材表面采用环保塑粉，不易脱色，焊接光滑</li>

                                <li>静电喷涂，无毒无害，绿色环保，给您一个健康的环境</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow bounceInLeft">
                    <div class="row youshi1">
                        <div class="col-md-2">
                            <img src="/images/n4.png"/>
                        </div>
                        <div class="col-md-10">
                            <h3>生产实力雄厚，7-15天快速出设计方案</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <ul>
                                <li>
                                    大型标准化厂房，多种自动化生产设备和工艺精湛的技术团队7-15天快速出方案 的同时，保证所产皆是精品
                                </li>
                                <li>
                                    所有生产工序均在自己车间完成，拒绝二次外包，源头直供，节约20%以上成本，最大程度让利于客户
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row youshi1">
                        <div class="col-md-2">
                            <img src="/images/n5.png"/>
                        </div>
                        <div class="col-md-10">
                            <h3>完善的售后服务体系，让您售后无忧</h3>
                            <div class="doubleLine"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 textRight hidden-xs">
                        </div>
                        <div class="col-md-10 youshiContent">
                            <ul>
                                <li>
                                    专业的售后服务团队，贴心服务，定期回访跟进展示状况，为你解决一切问题
                                </li>
                                <li>
                                    7X24小时待命，各部门协调配合，当天问题当天解决，保障客户利益，让您收获的是省心、放心服务。
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow bounceInRight hidden-xs">
                    <img src="/images/ys3.png"/>
                </div>
            </div>
        </div>
    </div>
    <!--优势-->
    <!--关于我们-->
    <div class="container-fluid aboutUsA wow bounceInUp hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <div class="row">
                        <div style="float: left;width:534px;"><img src="/images/home_pro.jpg" style="width:530px;"/>
                        </div>
                        <div style="float: left;width:600px; padding-left:30px;">
                            <div class="aboutUsTitle">
                                关于我们
                            </div>
                            <div>
                                <!--<img src="/images/aboutus_desc.jpg"/>-->
                            </div>
                            <div class="row aboutUsContent" th:utext="${aboutusContent.content}">

                            </div>
                            <div>
                                <a class="btn viewMore" href="/aboutUs">查看更多+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--关于我们-->
    <!--新闻资讯-->
    <div class="container-fluid newinfo wow bounceInUp hidden-xs">
        <div class="container textCenter rowMarginTop rowPaddingBottom">
            <div class="index1">
                <span>NEWS</span>
                <p>新闻中心</p>
            </div>
        </div>
        <div class="container rowMarginTop rowPaddingBottom">
            <div class="col-md-6">
                <div class="row">
                    <ul class="newsType">
                        <li id="li_newTop" class="active"><a>企业头条</a></li>
                        <li id="li_companyDynamicsList"><a>公司动态</a></li>
                    </ul>
                </div>

                <div id="newTop" class="row rowMarginTop rowPaddingBottom">
                    <div th:each="newsItem:${topNewsList}">
                        <div class="newsList" th:onclick="'showNewsDetail('+${newsItem.id}+')'">
                            <div class="newsDate">
                                <div class="newsDateDay" th:text="${#strings.substring(newsItem.addDate,8,10)}"></div>
                                <div class="newsDateYear" th:text="${#strings.substring(newsItem.addDate,0,7)}"></div>
                            </div>
                            <div class="newsC" th:text="${#strings.abbreviate(newsItem.title,28)}"></div>
                            <div class="newsCImg" th:id="'cimg_'+${newsItem.id}"><img
                                    src="/images/jiantouright_03.png"/></div>
                        </div>
                        <div class="row rowMarginTop rowPaddingBottom" id="newsDetail_"
                             th:id="'newsDetail_'+${newsItem.id}" style="display: none;">
                            <div class="col-md-6">
                                <img th:src="${newsItem.imageUrl}" class="newsImg"/>
                            </div>
                            <div class="col-md-6">
                                <div class="row newsTitle" th:text="${#strings.abbreviate(newsItem.title,20)}"></div>
                                <div class="row newsContent">
                                    <p th:text="${#strings.abbreviate(newsItem.description,60)}"></p>
                                </div>
                                <div class="row">
                                    <a class="btn btn-primary active" th:href="${'/news/'+newsItem.id}"
                                       target="_blank">了解更多+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="companyDynamicsList" style="display: none;" class="row rowMarginTop rowPaddingBottom">
                    <div th:each="newsItem:${companyDynamicsList}">
                        <div class="newsList" th:onclick="'showNewsDetail('+${newsItem.id}+')'">
                            <div class="newsDate">
                                <div class="newsDateDay" th:text="${#strings.substring(newsItem.addDate,8,10)}"></div>
                                <div class="newsDateYear" th:text="${#strings.substring(newsItem.addDate,0,7)}"></div>
                            </div>
                            <div class="newsC" th:text="${#strings.abbreviate(newsItem.title,28)}"></div>
                            <div class="newsCImg" th:id="'cimg_'+${newsItem.id}"><img
                                    src="/images/jiantouright_03.png"/></div>
                        </div>
                        <div class="row rowMarginTop rowPaddingBottom" id="newsDetail_"
                             th:id="'newsDetail_'+${newsItem.id}" style="display: none;">
                            <div class="col-md-6">
                                <img th:src="${newsItem.imageUrl}" class="newsImg"/>
                            </div>
                            <div class="col-md-6">
                                <div class="row newsTitle" th:text="${#strings.abbreviate(newsItem.title,20)}"></div>
                                <div class="row newsContent">
                                    <p th:text="${#strings.abbreviate(newsItem.description,60)}"></p>
                                </div>
                                <div class="row">
                                    <a class="btn btn-primary active" th:href="${'/news/'+newsItem.id}"
                                       target="_blank">了解更多+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dayiTitle">
                    <span class="dayiTitle-1">技术答疑 / </span><span class="dayiTitle-2">Technical response</span><span
                        class="dayiTitle-3"><a href="/question">更多>></a></span>
                </div>
                <div class="dayiList" th:each="item:${questionList}">
                    <div class="dayiCTitle"><img src="/images/dayi_160.jpg"> <a th:href="${'/news/'+item.id}"
                                                                                target="_blank"><span
                            th:text="${#strings.abbreviate(item.title,30)}"></span></a></div>
                    <div class="dayiContent" th:text="${#strings.abbreviate(item.description,100)}"></div>
                </div>
            </div>
        </div>
    </div>
    <!--新闻资讯-->


    <!--友情链接开始-->
    <div class="container-fluid wow bounceInUp linkBg hidden-xs">
        <div class="row">
            <div class="col-md-12 textCenter">
                <div class="index1">
                    <span>LINKS</span>
                    <p>友情链接</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container wow bounceInUp">
        <div class="row rowMarginTop">
            <div class="col-md-12 links textCenter">
                <a th:each="item:${base.linksList}" th:text="${item.title}" th:href="${item.url}"
                   class="link" target="_blank"></a>
            </div>
        </div>
    </div>
    <!--友情链接结束-->
    <script type="text/javascript">
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100
            }
        );
        wow.init();
    </script>
</div>
</html>