<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="${base.title}"></title>
    <meta name="keywords" th:attr="content=${base.keyword}"/>
    <meta name="description" th:attr="content=${base.description}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href=/css/web.css type="text/css" rel="stylesheet"/>
    <link href="/css/animate.css" rel="stylesheet"/>
    <link href="/lib/scrollup/css/themes/image.css" rel="stylesheet"/>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/comm/mySystem.js"></script>
    <script type="text/javascript" src="/comm/public.js"></script>
    <script src="/comm/wow.min.js"></script>
    <script src="/lib/scrollup/jquery.scrollUp.js"></script>
</head>
<div layout:fragment="headContent"></div>
<body>

<!--头部开始-->
<div class="container-fluid">
    <div class="row navRow" role="navigation">
        <div class="col-md-12">
            <div class="navbar-header">
                <!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
                <button class="navbar-toggle" type="button" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>

                </button>
                <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
                <a href="##" class="navbar-brand visible-xs-block" style="font-size:16px;">广州易到出行</a>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="col-md-6 hidden-xs">
                    <span class="nav-title">广州易到出行</span><span class="nav-title-desc">新能源纯电动面包车，联系电话：135-5389-0459</span>
                </div>
                <div class="col-md-6">
                    <ul class="nav navbar-pills nav-justified navbar-right navbar-static-top">
                        <li role="presentation" th:each="navItem:${navList}">
                            <a th:if="${navItem.url}eq'/'" th:href="${navItem.url}"
                               th:text="${navItem.name}"></a>
                            <a th:if="${navItem.url}ne'/'" th:href="${navItem.url}"
                               th:text="${navItem.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/images/banner1.jpg">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!--头部结束-->

<!--内容开始-->
<div layout:fragment="content">

</div>
<!--内容结束-->
<!--底部版本开始-->

<div class="container-fluid copyright hidden-xs">
    <div class="container">
        <div class="row navLink text-center hidden-xs">
            <a th:each="navItem:${navList}" th:text="${navItem.name}" th:href="${navItem.url}"></a>
        </div>
        <div class="row">
            <!--<div class="col-md-3 bottom-logo"></div>-->
            <div class="col-md-4 bottom-text"><p class="bottom-title">地址：Address</p>
                <p>广州</p></div>
            <div class="col-md-4 bottom-email"><p class="bottom-title">邮箱：QQ</p>
                <p>888888888@qq.com</p></div>
            <div class="col-md-4 bottom-tel"><p class="bottom-title">电话：Phone</p>
                <p>服务热线:135-5389-0459</p></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row copyright-bottom">
        <div class="col-md-12 textCenter">
            广州易到出行 版权所有 备案号：
        </div>
    </div>
</div>
<!--底部版本结束-->
</body>
</html>
<script type="text/javascript">
    $(function () {
        $.scrollUp({
            animation: 'fade',
            activeOverlay: false,
            scrollImg: {
                active: true,
                type: 'background',
                src: '/lib/scrollup/img/top.png'
            }
        });
    });

    function searchPro() {
        var keyword = $("#tbxKeyword").val();
        if (keyword != undefined && keyword != null && keyword != '') {
            window.location.href = "/productCenterSearch?title=" + keyword;
        } else {
            alert("请输入您要查找的关键词");
            $("#tbxKeyword").focus();
        }
    }
</script>