<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="${base.title}"></title>
    <meta name="keywords" th:attr="content=${base.keyword}"/>
    <meta name="description" th:attr="content=${base.description}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href=/css/web.css type="text/css" rel="stylesheet"/>
    <link href="/css/animate.css" rel="stylesheet"/>
    <link href="/lib/scrollup/css/themes/image.css" rel="stylesheet"/>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/comm/mySystem.js"></script>
    <script type="text/javascript" src="/comm/public.js"></script>
    <script src="/comm/wow.min.js"></script>
    <script src="/lib/scrollup/jquery.scrollUp.js"></script>
</head>
<div layout:fragment="headContent"></div>
<body>
<!--头部开始-->
<div class="container-fluid">
    <div class="row top">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">深圳市宝安区玮邦货架仓储设备加工厂欢迎您</div>
        <div class="col-sm-4 headLink"><a href="/leaveMessage#message">在线留言</a> | <a href="/aboutUs">关于我们</a> | <a
                href="/question">常见问题解答</a></div>
    </div>
    <div class="row topShow visible-lg-block visible-md-block">
        <div class="col-md-12 textCenter">
            <img src="/images/head_02.png">
        </div>
    </div>
    <div class="row navRow" role="navigation">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="navbar-header">
                <!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
                <button class="navbar-toggle" type="button" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>

                </button>
                <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
                <a href="##" style="font-size:16px;" class="navbar-brand visible-xs-block">深圳市宝安区玮邦货架仓储设备加工厂</a>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-pills nav-justified navbar-right">
                    <li role="presentation" th:each="navItem:${navList}"><a th:href="${navItem.url}"
                                                                            th:text="${navItem.name}"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/images/banner1.png">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="/images/banner2.png">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!--头部结束-->
<!--搜索栏开始-->
<div class="container">
    <div class="row hidden-xs searchKey">
        <div class="col-md-8">
            <b>热门关键词</b>：重型横梁式货架、阁楼货架
        </div>
        <div class="col-md-4 form-inline">
            <input type="text" placeholder="请输入您要查找的关键词" class="form-control" id="tbxKeyword" name="tbxKeyword">
            <button class="btn btn-default" onclick="searchPro()">搜索</button>
        </div>
    </div>
</div>
<!--搜索栏结束-->
<!--内容开始-->
<div layout:fragment="content">

</div>
<!--内容结束-->
<!--底部版本开始-->
<div class="container-fluid copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copyrightContentText textCenter" th:utext="${base.copyright}">

            </div>
        </div>
        <div class="row navLink text-center hidden-xs">
            <a th:each="navItem:${navList}" th:text="${navItem.name}" th:href="${navItem.url}"></a>
        </div>
    </div>
</div>
<!--底部版本结束-->
</body>
</html>
<script type="text/javascript">
    $(function () {
        $.scrollUp({
            animation: 'fade',
            activeOverlay: false,
            scrollImg: {
                active: true,
                type: 'background',
                src: '/lib/scrollup/img/top.png'
            }
        });
    });

    function searchPro() {
        var keyword = $("#tbxKeyword").val();
        if (keyword != undefined && keyword != null && keyword != '') {
            window.location.href = "/productCenterSearch?title=" + keyword;
        } else {
            alert("请输入您要查找的关键词");
            $("#tbxKeyword").focus();
        }
    }
</script>