<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="web/layout">
<div layout:fragment="content">
    <div class="inline-banner" style="background:url(/uploadfile/20180321100842937.jpg) no-repeat center top fixed;">
        <div class="container">
            <h2>长华知识</h2>
            <p>KNOWLEDGE</p>
        </div>
    </div>
    <div class="inline-nav">
        <div class="container clearfix">
            <ul class="pull-right nav-ny hidden-xs">

            </ul>
            <div class="pull-left">
                <span class="now">当前位置：</span>
                <span class="layui-breadcrumb" style="visibility: visible;">
              <a href="/">首页</a><span lay-separator="">/</span>
              <a><cite>长华知识</cite></a>
            </span>
            </div>
        </div>
    </div>
    <div class="container inline-content">
        <div class="row">
            <div class="col-md-18" id="news_list">
                <li th:each="item:${productList}">
                    <div class="col-md-5 col-sm-5 col-xs-8 pic">
                        <a target="_blank" th:href="'/news/'+${item.id}" th:title="${item.title}"><img
                                th:src="${item.imageUrl}"></a></div>
                    <div class="col-md-19 col-sm-19 col-xs-16 titjj">
                        <h1><a target="_blank" th:href="'/news/'+${item.id}" th:title="${item.title}" th:text="${item.title}"></a>
                        </h1>
                        <h2 th:text="${#strings.substring(item.addDate,0,10)}"></h2>
                        <p th:text="${#strings.abbreviate(item.description,60)}"></p>
                    </div>
                </li>
                <div class="row textCenter" style="text-align:center;">
                    <!-- 内容列表分页开始 -->
                    <div style="margin-left:auto;margin-right:auto;">
                        <!-- 处理页数小于等于7 的情况 -->
                        <ul th:if="${(totalPages le 7)&&(totalPages gt 0)}" class="pagination">
                            <li th:if="${pageIndex eq 1}" class="page-item disabled"><a class="page-link">上一页</a></li>
                            <li th:if="${pageIndex gt 1}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${pageIndex}-1)}">上一页</a>
                            </li>

                            <li th:each="index:${#numbers.sequence(1,totalPages)}"
                                th:classappend="${index eq pageIndex}?'active'"
                                class="page-item">
                                <a th:href="@{''(pageIndex=${index})}" class="page-link" th:text="${index}"></a>
                            </li>

                            <li th:if="${pageIndex eq totalPages}" class="page-item disabled"><a
                                    class="page-link">下一页</a></li>
                            <li th:if="${pageIndex lt totalPages}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${pageIndex}+1)}">下一页</a>
                            </li>
                        </ul>

                        <!-- 处理页数大于7 的情况 -->
                        <ul th:if="${totalPages gt 7}" class="pagination">
                            <li th:if="${pageIndex eq 1}" class="page-item disabled"><a class="page-link">上一页</a></li>
                            <li th:if="${pageIndex gt 1}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${pageIndex}-1)}">上一页</a>
                            </li>

                            <!-- 首页 -->
                            <li th:classappend="${pageIndex eq 1}?'active'" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=1)}">1</a>
                            </li>

                            <!-- 当前页面小于等于4 -->
                            <li th:if="${pageIndex le 4}" th:each="index:${#numbers.sequence(2,5)}"
                                th:classappend="${index eq pageIndex}?'active'" class="page-item">
                                <a th:href="@{''(pageIndex=${index})}" class="page-link" th:text="${index}"></a>
                            </li>
                            <li th:if="${pageIndex le 4}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=6)}">...</a>
                            </li>

                            <!-- 最后一页与当前页面之差小于等于3 -->
                            <li th:if="${totalPages-pageIndex le 3}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${totalPages-5})}">...</a>
                            </li>
                            <li th:if="${totalPages-pageIndex le 3}"
                                th:each="index:${#numbers.sequence(totalPages-4,totalPages-1)}"
                                th:classappend="${index eq pageIndex}?'active'" class="page-item">
                                <a th:href="@{''(pageIndex=${index})}" class="page-link" th:text="${index}"></a>
                            </li>

                            <!-- 最后一页与当前页面之差大于3 且当前页面大于4 -->
                            <li th:if="${(pageIndex gt 4) && (totalPages-pageIndex gt 3)}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${pageIndex-2})}">...</a>
                            </li>
                            <li th:if="${(pageIndex gt 4) && (totalPages-pageIndex gt 3)}"
                                th:each="index:${#numbers.sequence(pageIndex-1,pageIndex+1)}"
                                th:classappend="${index eq pageIndex}?'active'" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${index})}" th:text="${index}"></a>
                            </li>
                            <li th:if="${(pageIndex gt 4) && (totalPages-pageIndex gt 3)}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${pageIndex+2})}">...</a>
                            </li>

                            <!-- 尾页 -->
                            <li th:classappend="${pageIndex eq totalPages}?'active'" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${totalPages})}"
                                   th:text="${totalPages}">尾页</a>
                            </li>

                            <li th:if="${pageIndex eq totalPages}" class="page-item disabled"><a
                                    class="page-link">下一页</a></li>
                            <li th:if="${pageIndex lt totalPages}" class="page-item">
                                <a class="page-link" th:href="@{''(pageIndex=${pageIndex}+1)}">下一页</a>
                            </li>

                            <div class="input-group" style="height: 38px;width: 150px; display: none;">
                                <input type="number" min="1" th:max="${totalPages}" th:value="${pageIndex}"
                                       class="form-control toPage">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary toUrl" style="height: 30px;">跳转
                                    </button>
                                </div>
                            </div>

                        </ul>
                    </div>
                    <!-- 内容列表分页结束 -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="bk">
                    <h2>联系我们</h2>
                    <div class="contact"><p><strong>服务中心</strong></p>
                        <p>地址：东莞市莞城街道东平街233号美汇名家2楼B23号铺位</p>
                        <p>电话：0769-23020601</p>
                        <p>手机：13713170013</p></div>
                </div>
                <div class="bk">
                    <h2>长华产品</h2>
                    <div class="contact row">
                        <li class="col-xs-12" th:each="item:${art}">
                            <a th:href="'/productCenter/detail/'+${item.id}"><img
                                    th:src="${item.imageUrl}" th:alt="${item.title}" width="100%" th:text="${item.title}"></a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>