<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="web/layout">
<div layout:fragment="content">
    <div class="slider banner" style="overflow: hidden;/*margin-bottom: 40px;*/">
        <div>
            <a href="/#" title="">
                <img src="/uploadfile/20180403102702681.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="/#" title="">
                <img src="/uploadfile/20180403102631611.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="container main-cp" style="margin-bottom: 20px;">
        <div class="row">
            <div class="toptitle clearfix" style="border-bottom: 4px solid #cccccc;margin-bottom: 20px;height: 59px;">
                <h2 th:text="${art.title}" class="pull-left"
                    style="font-size: 24px;font-weight: bold; color: #003366; line-height: 55px;border-bottom: 4px solid #0a86bd; padding-right: 15px;">
                </h2>
            </div>
            <div class="picnr" th:utext="${art.content}"></div>
        </div>
    </div>
</html>