@charset "utf-8";

/* 全局样式
-------------------------------------------------------------- */
html, body, a, p, ul, img, h3, h2, h1 {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    font-family: "微软雅黑", "宋体";
    font-size: 14px;
    color: #333333;
}

p {
    line-height: 25px;
}

img {
    border: none;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height:100%;
    /* transition: .3s;
     -ms-transition: .3s;
     -moz-transition: .3s;
     -webkit-transition: .3s;
     -o-transition: .3s; */
}

td {
    vertical-align: center;
    font-size: 12px;
}

/*.img-responsive{margin: 0 auto;}*/

/* 链接样式 */
a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* 常用元素 */
.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media(min-width: 992px){
    .logo {
        padding-top: 25px;
    }
}



* html, * html body /* 修正IE6振动bug */
{
    background-image: url(about:blank);
    background-attachment: fixed;
}


/*头部*/
#hd {
    background: #fff;
}

.topbj {
    line-height: 45px;
    border-bottom: 1px solid #eeeeee;
    color: #a5a5a5;
    font-size: 18px;
}

.topbj .fwrx {
    color: #a5a5a5;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 45px;
}

.topbj .fwrx p {
    color: #a5a5a5;
    font-size: 18px;
    line-height: 45px;
}

.topbj .fwrx strong {
    color: #00b6e8;
}

.wp {
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    position: relative;
    z-index: 10;
}


/*主体*/

/************产品分类************/
.ss-product {
    overflow: hidden;
    /*padding-top: 78px;*/
    position: relative;
    /* top:10px; */
    /*opacity: 0;
    filter:alpha(operate=0);*/
    margin: 10px auto;
}

.ss-product li {
    position: relative;
    float: left;
    overflow: hidden;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid #ccc;
}

.ss-product li a {
    display: block;
    width: 100%;
    height: 100%;
}

.ss-product li img {
    max-width: 100%;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}

.ss-product li:hover .cp {
    transform: scale(1.2);
}

.ss-product li .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000; */
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: all 0.3s;
}

.ss-product li .con {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -10px;
    background: #fff;
    left: 0;
    z-index: 1;
    text-align: center;
    -moz-transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: background-color, height;
    -moz-transition-property: background-color, height;
    -webkit-transition-property: background-color, height;
}

.ss-product li .pic {
    padding-top: 50px;
    transition: all 0.3s;
}

.ss-product li h2 {
    color: #333333;
    font-size: 24px;
    line-height: 32px;
    padding-top: 22px;
    transition: all 0.3s;
}

.ss-product li .en {
    font-size: 16px;
    color: #6b6b6b;
    line-height: 24px;
    transition: all 0.3s;
}

.ss-product li .box {
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    -moz-transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: background-color, height;
    -moz-transition-property: background-color, height;
    -webkit-transition-property: background-color, height;
    position: relative;
}

.ss-product li .box a {
    zoom: 1;
    width: 38%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* background: #007d5a; */
    color: #fff;
    font-size: 14px;
    display: inline-block;
    *display: inline;
    position: relative;
    top: 45px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s;
}

/*.wel-product li a.lei0{
	left: 10%;
}
.wel-product li a.lei1{
	right: 10%;
}*/
.ss-product li .mun {
    margin-top: 22px;
    font-size: 30px;
    color: #333333;
    text-align: center;
    display: block;
    background: url(../../images/images/shushi18.png) no-repeat center;
    line-height: 22px;
}

.ss-product li:hover .con {
    /* height: 458px; */
    background: #f9f9f9;
}

.ss-product li:hover .bg {
    opacity: 0;
    filter: alpha(opacity=0);
}

.ss-product li:hover .pic {
    padding-top: 75px;
}

.ss-product li:hover h2 {
    color: #000;
    padding-top: 16px;
}

.ss-product li:hover .en {
    color: #666;
    line-height: 28px;
}

.ss-product li:hover .box {
    height: 35px;
    padding-bottom: 65px;
}

.ss-product li a:hover {
    top: 40px;
}

.i-wrap2 {
    position: relative;
}

.ss-product ul {
    position: relative;
    z-index: 9;
}

.ss-product .btns {
    position: absolute;
    top: 50%;
    width: 53px;
    height: 53px;
    margin-top: -27px;
    cursor: pointer;
    z-index: 99;
    transition: all 0.5s;
}

.ss-product .prev {
    background: url(../../images/images/shushi19.png) no-repeat center;
    left: 32px;
}

.ss-product .next {
    background: url(../../images/images/shushi20.png) no-repeat center;
    right: 32px;
}

.ss-product .prev:hover {
    left: 40px;
}

.ss-product .next:hover {
    right: 40px;
}


.pic-product .title p {
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
}

.pic-product li {
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
    padding-bottom: 0.5rem;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
}

.pic-product li h2 {
    text-align: center;
    line-height: 30px;
}

.about-bj {
    background: url("../../images/images/bj_31.jpg") repeat;
    padding: 36px 0;
}

.title-about {
    font-size: 48px;
    color: #008cd6;
    font-weight: bold;
    line-height: 58px;
    margin-top: 13%;
    text-transform: uppercase;
}

.title-about p {
    font-size: 40px;
    color: #008cd6;
    line-height: 58px;
}

.about-nr {
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
}

.about-nr p {
    font-size: 16px;
    line-height: 30px;
}

.about-bnt {
    overflow: hidden;
    margin: 40px auto;
}

.about-bnt a {
    display: block;
    border: 3px solid #e8e8e8;
    margin-right: 20%;
    text-align: center;
    position: relative;
    padding: 11% 0;
}

.about-bnt a .bg {
    width: 69px;
    height: 69px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.about-bnt a .bg1 {
    background: url("../../images/images/3_41.png") no-repeat center;
}

.about-bnt a .bg2 {
    background: url("../../images/images/4_38.png") no-repeat center;
}

.about-bnt a h2 {
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 2;
    line-height: 30px;
    margin-top: 20px;
}

.about-bnt .box {
    width: 0;
    height: 0;
    background: #008cd6;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s;
}

.about-bnt a:hover .box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.about-bnt a:hover {
    border: 3px solid #008cd6;
}

.about-bnt a:hover h2 {
    color: #fff;
}

.about-bnt a:hover .bg1 {
    background: url("../../images/images/3_41_1.png") no-repeat center;
}

.about-bnt a:hover .bg2 {
    background: url("../../images/images/4_38_1.png") no-repeat center;
}


.news-bj {
    background: url("../../images/images/bg_47.png") no-repeat;
    background-size: cover;
    padding: 90px 0;
}

.news-bj .container, .anli-bj .container {
    max-width: 1201px !important;
}

.title-news {
    text-align: center;
    font-size: 36px;
    color: #008cd6;
    font-weight: bold;
}

.title-news p {
    font-size: 30px;
    font-weight: normal;
    color: #555555;
    line-height: 50px;
    margin-bottom: 65px;
    text-transform: uppercase;
}

.news-tu h2 {
    font-size: 18px;
    color: #008cd6;
    margin: 13px 0;
}

.news-tu p {
    color: #666666;
    font-size: 14px;
}

.newslist .news-time {
    font-family: Arial;
    font-size: 24px;
    text-align: right;
    padding: 5% 0;
    padding-right: 5%;
    border-right: 1px solid #d9d9d9;
}

.newslist .news-time p {
    font-size: 16px;
    color: #999999;
}

.newslist .news-title {
    margin-top: 10px;
    padding-left: 5%;
}

.newslist .news-title a {
    font-size: 16px;
    margin-top: 10px;
}

.newslist .news-title a p {
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

.newslist .news-title a i {
    display: block;
    width: 28px;
    height: 14px;
    background: url(../../images/images/more_52.png) no-repeat center;
    background-size: cover;
    margin-top: 24px;
    position: relative;
    left: 0;
    transition: left 0.3s;
}

.newslist li:hover i {
    left: 10px;
    transition: left 0.3s;
}

.newslist li:hover .news-title a, .newslist li:hover .news-time {
    color: #008cd6;
    transition: color 0.3s;
}


.anli-bj {
    background: url("../../images/images/anli_56.jpg") repeat;
    padding: 50px 0;
}

.title-anli div {
    color: #555555;
    font-size: 20px;
    font-weight: normal;
}

.title-anli p {
    margin-bottom: 15px;
}

.anli-list .layui-tab-title {
    text-align: center;
    border: 0;
    margin-bottom: 35px;
}

.anli-list .layui-tab-title li {
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 0 3%;
    font-size: 18px;
    margin: 0 15px;
}

.anli-list .layui-tab-title li:hover, .anli-list .layui-tab-title .layui-this {
    background: #00aee0 !important;
    border: 1px solid #00aee0;
    color: #fff;
}

.anli-list .layui-tab-title .layui-this:after {
    border: 1px solid #00aee0;
    border-radius: 5px !important;
}

.anli-list .layui-tab-item {
    height: 433px;
}

.anli-list .layui-tab-item {
    position: relative;
    margin: 0 auto;
}

.anli-list .layui-tab-item .bd {
    position: relative;
    z-index: 0;
}

/*.anli-bj .layui-tab-item .bd li img{width:100%; vertical-align:top;  }*/
.anli-list .layui-tab-item .hd {
    position: relative;
    z-index: 1;
    margin-top: -30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #000;
    filter: alpha(opacity=60);
    opacity: 0.6
}

.anli-list .layui-tab-item .hd ul {
    text-align: center;
    padding-top: 5px;
}

.anli-list .layui-tab-item .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 8px;
    height: 8px;
    margin: 5px;
    background: url(images/tg_flash_p.png) -18px 0;
    overflow: hidden;
    font-size: 0;
}

.anli-list .layui-tab-item .fwimg {
    float: left;
}

.anli-list .layui-tab-item .fwzzcc {
    background: url(../../images/images/anlibg.png) no-repeat center;
    width: 70%;
    height: 373px;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 60px;
}

.anli-list .bd ul li .fetitle {
    line-height: 30px;
    width: 60px;
    color: #2388c9;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: 90px;
    padding-top:20px;
}

.anli-list .bd ul li .fecont {
    line-height: 30px;
    z-index: 999;
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    padding: 50px;
}

.anli-list .bd ul li .fecont p {
    font-size: 14px;
    color: #FFFFFF;
}

.anli-list .layui-tab-item .prev, .anli-list .layui-tab-item .next {
    top: 0px;
    z-index: 99;
    position: absolute;
    display: block;
    width: 57px;
    line-height: 57px;
    float: right;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #2388c9;
    text-align: center;
    font-size: 24px;
}

.anli-list .layui-tab-item .prev:hover, .anli-list .layui-tab-item .next:hover {
    background-color: #2388c9;
    color: #FFFFFF;
}

.anli-list .layui-tab-item .next {
    right: 0;
}

.anli-list .layui-tab-item .prev {
    right: 62px;
}

/* marqueeleft */
.marqueeleft {
    height: 137px;
    width: 100%;
    overflow: hidden;
    margin-top: 22px;
    margin-bottom: 40px;
}

.marqueeleft ul {
    float: left;
}

.marqueeleft li {
    float: left;
    margin: 0 5px;
    display: inline;
    overflow: hidden;
}

.marqueeleft li .pic {
    display: block;
    border: #eeeeee 0px solid;
    width: 241px;
    height: 137px;
    padding: 0px;
    overflow: hidden;
}

.marqueeleft li .txt {
    text-align: center;
    line-height: 31px;
    color: #fff;
    font-size: 14px;
}

.marqueeleft li .txt a {
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, .6);
}


.dbdh {
    padding: 32px 0;
    border-top: 1px solid #e8e8e8;
}

.dbdh dl {
    float: left;
    text-align: center;
}

.dbdh dt a {
    font-size: 15px;
    color: #797979;
    line-height: 35px;
}

.dbdh dd a {
    display: block;
    font-size: 14px;
    color: #797979;
}

.dbrx {
    padding: 0;
}

.dbrx h3 {
    color: #999999;
    line-height: 30px;
    margin-top: 5px;
}


.footer {
    background: #00b6e8;
    line-height: 26px;
    overflow: hidden;
    color: #fff;
    padding: 20px 0;
    font-size: 12px;
}

.footer p, .footer a {
    color: #fff;
    font-size: 12px;
}

/*.foot:before{
	position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    border-bottom: 2px solid #fff;
}*/


.inline-banner {
    position: relative;
}

.inline-banner h2 {
    font-size: 45px;
    font-weight: bold;
    padding-top: 68px;
    color: #fff;
}

.inline-banner p {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
    text-transform: uppercase;
    margin-bottom: 10%;
}

.inline-nav {
    border-bottom: 1px solid #e5e5e5;
    margin: 20px auto;
}

.inline-nav .now {
    background: url(../../images/images/now01.png) no-repeat left center;
    padding-left: 24px;
}


/*内页主体*/
.layui-breadcrumb a {
    font-size: 12px;
    line-height: 59px;
}

.layui-breadcrumb a cite {
    color: #333333;
    margin-right: 10px;
}

.nav-ny {
    line-height: 59px;
}

.nav-ny a {
    display: block;
    padding: 0 27px;
    font-weight: bold;
}

.nav-ny .cur a {
    background: #008cd6;
    color: #fff;
}

.bk {
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    /*height: 350px;*/
}

.bk h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: "微软雅黑", "Microsoft Yahei";
    line-height: 43px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}

.bk .contact {
    padding: 10px;
    line-height: 26px;
}

.bk .contact li {
    line-height: 30px; /*border-bottom: 1px dashed #ddd;*/
}

.bk .contact li a {
    text-align: center;
    display: block;
}

.layui-breadcrumb a:hover {
    color: #008cd6 !important;
}

.inline-content .col-md-6 {
    padding-left: 0;
}

/*新闻*/
#news_list {
    margin: 0 auto;
    height: auto;
}

#news_list li {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #ddd dashed;
}

#news_list li:hover {
    background: #f8f8f8;
}

#news_list li .pic {
    padding: 0;
}

#news_list li .pic img {
    border: 1px solid #ddd;
}

#news_list li .titjj {
    padding-right: 0;
}

#news_list li h1 a {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #666;
}

#news_list li h2 {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666;
    line-height: 30px;
}

#news_list li p {
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 30px;
    color: #666;
}

#news_list li:hover h1 a, #news_list li:hover h2, #news_list li:hover p {
    color: #008cd6;
}

.content {
    font-size: 14px;
    line-height: 30px;
}

#Article {
    padding: 0 10px 10px;
}

#Article .content {
    min-height: 300px;
}

/*图文*/
.picbig img {
    border: 1px solid #ddd;
}

.picbig h1 a {
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 10px;
    display: block;
}

.pict {
    text-align: center;
    margin: 10px;
}

.pict p {
    font-size: 20px;
}

.pict h2 {
    font-size: 18px;
    line-height: 36px;
}

.pict img {
    border: 3px #cecece solid;
}

.xxjs {
    border-bottom: 1px #4b4b4b dashed;
    margin-bottom: 20px;
}

.xxjs span {
    background: #008cd6;
    color: #ffffff;
    width: 68px;
    height: 26px;
    display: block;
    text-align: center;
    line-height: 26px;
}

/* 产品页分类 */

.cpdh {
    /* position: absolute;
    z-index: 10;
    top: 145px; */
    max-width: 230px;
}

.cpdh .sunav {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-top: solid 2px #108bee;
    border-bottom: 1px solid #ddd;
    -moz-box-shadow: 1px 2px 5px #ccc;
    -webkit-box-shadow: 1px 2px 5px #ccc;
    box-shadow: 1px 2px 5px #ccc;
}

.cpdh dt {
    display: block;
    background: #008FD7 url(../../images/images/ico_02.png) no-repeat 20px center;
    padding-left: 40px;
    line-height: 48px;
    color: #fff;
    font-size: 18px;
}

.cpdh .sunav ul {
    overflow: hidden;
}

.cpdh .sunav ul li {
    float: left;
}

/* .modal_tit{
    height: 45px;
    padding-left: 20px;
    line-height: 45px;
    border: 1px solid #AEB5E3;
    background-color: #F3F3FD;
    color: #6870a0;
    overflow: hidden;
    margin-bottom: 20px;
}
.modal_tit h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
}
.modal_tit a{
    float: right;
    margin-right: 10px;
    color: #666;
} */
.cpnr li .bk {
    border-width: 2px;
    overflow: hidden;
}

.cpnr li h1 {
    font-size: 14px;
    /*font-weight: bold;*/
    line-height: 20px;
    margin: 10px auto;
    padding: 0 10px;
}

.cpnr li p {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.cpnr li i {
    float: right;
    margin: 10px;
    position: absolute;
    bottom: 13px;
    right: 13px;
}

.cpnr li i:before {
    width: 30px;
    height: 30px;
    border: 2px solid #666;
    border-radius: 15px;
    color: #666;
    display: block;
    line-height: 25px;
    text-align: center;
}

.cpnr li:hover i:before {
    color: #008FD7;
    border-color: #008FD7;
}

.cpnr li:hover .bk {
    border-color: #008fd7;
}

.layui-breadcrumb span[lay-separator] {
    margin: 0 5px;
}


/*下载*/
.down_list {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 10px 0;
}

.down_list h1 a {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.down_address {
    margin-bottom: 20px;
}

.down_address li {
    position: relative;
    left: 50%;
    margin-left: -40px;
}

.down_address li a {
    color: #fff;
}

.down_intro {
    margin-bottom: 15px;
}

/*留言*/
#myform .layui-form-label {
    padding: 9px 0px;
}

/*#myform .layui-input-block{margin-left: 80px;}*/
#myform .layui-btn-normal {
    position: relative;
    left: 50%;
    margin-left: -40px;
    margin-bottom: 20px;
    background-color: #008cd6;
}

.myform {
    height: 569px;
    background: url(../../images/images/fd_01.jpg) no-repeat center top #1885E0;
}

.myform .container {
    position: relative;
    max-width: 1024px;
}

.myform #myform {
    width: 317px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 20px;
}

.myform .fd_tit { /*height:93px;*/
    background: #00BCB8;
    text-align: center;
    color: #fff;
}

.myform .fd_tit h3 {
    padding: 15px 0;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding-top: 30px;
}

.myform .fd_tit .de_sy {
    font-size: 14px;
    line-height: 36px;
}

.myform .fd_tit .de_sy span {
    display: inline-block;
    vertical-align: top;
    width: 27px;
    height: 36px;
    color: #323232;
    background: url(../../images/images/num_bg.png) no-repeat;;
    font-size: 26px;
}

.myform .mt {
    padding-top: 5px;
    padding-left: 20px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
}

.myform .mt span {
    padding: 0 3px;
    font-family: Arial;
    color: #f35516;
}

.myform .layui-form-item {
    padding: 0 20px;
}

.myform .layui-form-item .layui-input-inline {
    width: 48%;
    margin-right: 0;
}

.myform .layui-form-item .layui-input-inline:nth-child(1) {
    margin-right: 10px;
}

.myform .layui-form-select dl {
    max-height: 220px;
}

.myform li.cnsm {
    padding: 0 15px;
    height: 50px;
    overflow: inherit;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 150%;
}

.myform li.cnsm span {
    color: #FF7712
}


/* 分页 */
#pages {
    padding: 14px 0 10px;
    font-family: 宋体;
    position: relative;
    text-align: center;
}

#pages a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #dddddd;
    text-align: center;
    color: #333;
    padding: 0 13px
}

#pages a.a1:hover {
    background: #eee;
    color: #333;
}

#pages a:hover {
    background: #008cd6;
    color: #fff;
    text-decoration: none
}

#pages span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #008cd6;
    border: 1px solid #008cd6;
    color: #fff;
    text-align: center;
    padding: 0 13px;
    position: relative;
    top: -1px;
}

.page .noPage {
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    background: url(../img/icu/titleBg.png) repeat-x 0 -55px;
    border: 1px solid #e3e3e3;
    text-align: center;
    color: #a4a4a4;
}


@media (min-width: 1576px) {
    .main {
        width: 1576px !important;
    }
}

@media (min-width: 1430px) {
    .container {
        width: 1430px;
    }
}

@media (max-width: 1429px) {
    .nav li .v1 {
        font-size: 16px;
    }

    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .w1200 {
        width: 1200px !important;
    }
}

@media (max-width: 992px) {
    .nav-xs {
        background: #008cd6;
    }

    .nav-xs li {
        width: 20%;
        float: left;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .right1 {
        float: right;
    }

    .nav > li > a {
        padding: 0 10px;
    }

    .leftdh {
        padding-right: 25px;
    }

    .about div:nth-child(1) {
        padding-right: 3px;
    }

    .about div:nth-child(2) {
        padding-left: 0;
    }

    .about div:nth-child(3) {
        padding-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1020px) {
    .about {
        height: 160px;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .inline-content .col-md-6 {
        padding-left: 15px;
    }

    #news_list li .titjj p {
        display: none;
    }

    .leftce1 {
        border: 0;
        width: 100%;
    }

    .btn {
        margin: 3px auto;
    }

    .about div:nth-child(2) {
        padding-left: 5px;
        text-align: center;
    }

    /* .banner{margin-bottom: 20px;} */
    .banner img {
        height: 150px;
    }

    .topbj .fwrx {
        float: none !important;
    }

    .topbj .fwrx p {
        font-size: 16px;
        line-height: 22px;
        padding: 5px 0;
    }

    .pic-product {
        margin-bottom: 20px;
    }

    .title-about {
        font-size: 35px;
        text-align: center;
        line-height: 45px;
    }

    .title-about p {
        font-size: 30px;
    }

    .newslist li {
        border-bottom: 1px solid #ddd;
        margin-bottom: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .newslist .news-title a {
        font-weight: bold;
    }

    .anli-list .layui-tab-title li {
        font-size: 14px;
        padding: 0 10px;
        margin: 0 5px;
        line-height: 38px;
    }

    .anli-list .layui-tab-item {
        height: auto;
    }

    .cpdh {
        position: relative;
        max-width: 100%;
        top: 0;
        display: none;
    }
}

@media (max-width: 375px) {

}

@media (max-width: 360px) {
    .cpquery img {
        height: 130px;
    }
}

@media (max-width: 325px) {

}

.class-logo {
    font-size: 38px;
    font-weight: bold;
    padding-top: 10px;
    color: #008cd6;
}
.main-cp {
    max-width: 1000px;
}

.productImg{
    height: 180px;
}

.bk h1{
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}