<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="web/en/layout">
<div layout:fragment="content">
    <div class="container">
        <div class="row textCenter rowMarginTop rowPaddingBottom">
            <h3 th:text="${art.enTitle}"></h3>
        </div>
        <div class="row textCenter rowMarginTop rowPaddingBottom">
            Author：<span th:text="${art.enComeFrom}"></span> &nbsp;&nbsp;&nbsp;Date：<span
                th:text="${#strings.substring(art.addDate,0,10)}"></span>
        </div>
        <div class="row">
            <div class="col-md-12" th:utext="${art.enContent}"></div>
        </div>
        <div class="row rowMarginTop rowPaddingBottom">
            <div class="col-md-12">
                <div class="upDiv">
                    <strong>Previous：</strong><a th:if="${up!=null}" th:text="${#strings.abbreviate(up.enTitle,30)}"
                                                 th:href="''+${up.id}"></a>
                    <span th:if="${up==null}" th:text="'No more'"></span>
                </div>
                <div class="downDiv">
                    <strong>Next：</strong><a th:if="${down!=null}" th:text="${#strings.abbreviate(down.enTitle,30)}"
                                             th:href="''+${down.id}"></a>
                    <span th:if="${down==null}" th:text="'No more'"></span>
                </div>
            </div>
        </div>
</html>