<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="web/en/layout">
<div layout:fragment="content">
    <div class="container">
        <div class="row rowMarginTop rowPaddingBottom">
            <div class="row textCenter">
                <h3 th:text="${art.enTitle}"></h3>
            </div>
            <div class="row" th:utext="${art.enContent}">

            </div>
        </div>
    </div>
</html>