<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.jycms.dao.ClassInfoMapper">
 <select id="selectAll" resultType="com.cms.jycms.domain.ClassInfo">
   select id,name,parentId,url from classInfo
 </select>
    <select id="getNav" resultType="com.cms.jycms.domain.ClassInfo">
        select name,url from classInfo where parentId=0
    </select>
    <delete id="delete">
        delete from classInfo where id=#{id}
    </delete>
    <update id="update">
        update classInfo set name=#{name},url=#{url} where id=#{id}
    </update>
    <insert id="insert">
        insert into classInfo(name,parentId,url)
        values(#{name},#{parentId},#{url});
    </insert>
</mapper>