<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.jycms.dao.LeaveMessageMapper">
    <insert id="insert">
  insert into leaveMessage(customName,telNo,message,addDate)
  values(#{customName},#{telNo},#{message},now());
</insert>
    <delete id="delete">
        delete from leaveMessage where id in
        <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectAll" resultType="com.cms.jycms.domain.LeaveMessage">
    select id,customName,telNo,message,addDate from leaveMessage
    limit #{offset},#{pageSize}
  </select>
    <select id="selectCount" resultType="int">
    select count(0) from leaveMessage
  </select>
</mapper>