<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.jycms.dao.NewsInfoMapper">
    <select id="selectByPrimaryKey" resultType="com.cms.jycms.domain.NewsInfo">
    select 
    id,title,classId,content,comeFrom,addDate,updateDate,isDel,imageUrl,description,enTitle,enContent,enComeFrom,enDescription,recommend
    from newsInfo
    where id = #{id}
  </select>
    <select id="selectByClassId" resultType="com.cms.jycms.domain.NewsInfo">
        select id,title,classId,content,comeFrom,addDate,updateDate,isDel,imageUrl,description,enTitle,enContent,enComeFrom,enDescription,recommend
        from newsInfo
        where classId in (
        select id from classinfo where parentId=#{classId}
        ) and recommend=#{recommend} order by updateDate desc limit #{limit};
    </select>
    <select id="selectAll" resultType="com.cms.jycms.domain.NewsInfo">
        select
        a.id,a.title,a.classId,a.content,a.comeFrom,a.addDate,a.updateDate,a.isDel,a.imageUrl,a.description,a.enTitle,a.enContent,a.enComeFrom,a.enDescription,a.recommend,b.name as
        className
        from newsInfo a left join classInfo b on a.classId=b.id
        where isDel=0
        <if test="title!=null and title!=''">
            and title like concat('%',#{title},'%')
        </if>
        <if test="start!=null and start!=''">
            and addDate>=#{start}
        </if>
        <if test="end!=null and end!=''">
            <![CDATA[
      and addDate<#{end}
    ]]>
        </if>
        <if test="classId!=null and classId!=-1">
            and a.classId in (select id from classinfo where parentId=#{classId} or id=#{classId})
        </if>
        <if test="classType!=null">
            and b.classType=#{classType}
        </if>
        order by a.addDate desc
        limit #{offset},#{pageSize}
    </select>
    <select id="selectCount" resultType="int">
        select
        count(0)
        from newsInfo a left join classinfo b on a.classId=b.id
        where isDel=0
        <if test="title!=null and title!=''">
            and a.title like concat('%',#{title},'%')
        </if>
        <if test="start!=null and start!=''">
            and a.addDate>=#{start}
        </if>
        <if test="end!=null and end!=''">
            <![CDATA[
      and a.addDate<#{end}
    ]]>
        </if>
        <if test="classId!=null and classId!=-1">
            and a.classId in (select id from classinfo where parentId=#{classId} or id=#{classId})
        </if>
        <if test="classType!=null">
            and b.classType=#{classType}
        </if>
    </select>
    <delete id="delByIds">
        delete from newsInfo where id in
        <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
            #{item}
        </foreach>
    </delete>
    <update id="updateRecommendByIds">
        update newsInfo set recommend=1 where id in
        <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
            #{item}
        </foreach>
    </update>
    <insert id="addContent">
        insert into newsInfo(title,classId,content,comeFrom,addDate,updateDate,isDel,imageUrl,description,enTitle,enContent,enComeFrom,enDescription,recommend)
        values(#{title},#{classId},#{content},#{comeFrom},now(),now(),0,#{imageUrl},#{description},#{enTitle},#{enContent},#{enComeFrom},#{enDescription},#{recommend});
    </insert>
    <update id="updateContent">
        update newsInfo set
        title=#{title},classId=#{classId},content=#{content},comeFrom=#{comeFrom},updateDate=now(),imageUrl=#{imageUrl},description=#{description},
         enTitle=#{enTitle},enContent=#{enContent},enComeFrom=#{enComeFrom},enDescription=#{enDescription},recommend=#{recommend}
         where id=#{id}
    </update>
    <select id="selectUpDown" resultType="com.cms.jycms.domain.NewsInfo">
        <![CDATA[

                select id,title,enTitle from newsinfo where id in
        (select max(t.id) as id from (
        select case when sign(id-#{id})<0 then min(id) end as id from newsinfo where classid=#{classId} and id<>#{id} group by id
        ) t
        union all
        select min(t.id) as id from (
        select case when sign(id-#{id})>0 then min(id) end as id from newsinfo where classid=#{classId} and id<>#{id} group by id
        ) t
        )

        ]]>
    </select>
</mapper>