<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.jycms.dao.UserInfoMapper">
<insert id="insert">
  insert into userInfo(userName,password)
  values(#{userName},#{password});
</insert>
  <delete id="delete">
    delete from userInfo where id in
    <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
      #{item}
    </foreach>
  </delete>
  <update id="update">
    update userInfo set password=#{password} where id=#{id}
  </update>
  <select id="select" resultType="com.cms.jycms.domain.UserInfo">
    select id,userName,password from userInfo
    limit #{offset},#{pageSize}
  </select>
  <select id="selectCount" resultType="int">
    select count(0) from userInfo
  </select>
  <select id="selectCountById" resultType="int">
    select count(0) from userInfo where id=#{id}
  </select>
  <select id="selectcountByUserName" resultType="int">
    select count(0) from userInfo where userName=#{userName};
  </select>
  <select id="selectById" resultType="com.cms.jycms.domain.UserInfo">
    select id,userName,password from userInfo where id=#{id}
  </select>
  <select id="selectByUserName" resultType="com.cms.jycms.domain.UserInfo">
    select id,userName,password from userInfo where userName=#{userName}
  </select>
</mapper>